body {
	background-image: url("#{resource['images:contactsbg2.png']}");
	background-size:cover;
	background-repeat: no-repeat;
}
.contentGrid tr, .contentGrid td {
	border: none !important;
	background-color:transparent;
	
}
.transBg {
	background-image: url("#{resource['images:semitransparentsquare.png']}");
}
.headerTitle {
	text-align: center;
}
.contentGrid {
	margin: 0 auto;
	margin-top: 10%
}
.contactsPicture {
	width:7.2em;
	background-image: url("#{resource['images:contactspicture.png']}");
}
.linkedinLogo {
	width:8em;
	background-image: url("#{resource['images:linkedinlogo.png']}");
}